<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fsd.com.dao.PartnerMapper">
	<!-- 主键查询 -->
	<select id="selectByPrimaryKey" resultType="org.fsd.com.entity.Partner" parameterType="java.lang.String">
		select * from tb_partner where id = #{id,jdbcType=VARCHAR}
	</select>
</mapper>