<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<!--
		path-type:设置intercept-url pattern的风格，默认ant，也尅设置为regex(正则)
		use-expressions:开启SpEL表达式
	-->
	<http auto-config="true" use-expressions="true" path-type="ant">
		<!--intercept-url规则是由上往下使用，所以要放在宽泛的/**之前  -->
		<intercept-url pattern="/account/**" access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/**" access="permitAll" />

		<!--
			login-processing-url：表单提交后进行用户认证的url(security自带的认证)
			authentication-failure-handler-ref:认证失败重定向到登录 login-page:自己的登陆页面
		-->
		<form-login login-page="/login.jsp"
			login-processing-url="/user/login"
			authentication-failure-url="/user/login?login_error=true"
			always-use-default-target="true" default-target-url="/index.jsp" />
		<!-- logout会构建一个过滤器，这个过滤器用于是用户的会话失效 -->
		<logout logout-url="/login.jsp" />
		<!-- 
			remember-me：如果remember-me不配置任何属性，通过cookie存储一个token，默认有效时间2周
			key:默认SpringSecured
			token-validity-seconds:有效时间(单位:秒)
		 -->
		<remember-me key="userKey" token-validity-seconds="1209600"/>
	</http>

	<!--配置认证管理器 -->
	<user-service id="userSercurity">
		<user name="admin" password="admin" authorities="ROLE_ADMIN,ROLE_SPILTTER" />
		<user name="test" password="123" authorities="ROLE_ADMIN" />
	</user-service>
	<authentication-manager>
		<authentication-provider
			user-service-ref="userSercurity"></authentication-provider>
	</authentication-manager>

</beans:beans>