<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
     <context:component-scan base-package="aop"></context:component-scan>
     <!-- 切面类 -->
     <bean id="arroundAspect" class="aop.aspect.ArroundAspect"/>
    
     <aop:config>
     <!-- 4.3.2 切面2：声明环绕通知 -->
     	<aop:aspect ref="arroundAspect">
     		<aop:around method="watchAround" pointcut-ref="point"/>
     	</aop:aspect>
     </aop:config>
</beans>