<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/aop 
           http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
           http://www.springframework.org/schema/tx
     	   http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.0.xsd">
           
     <context:component-scan base-package="aop"></context:component-scan>
      <!-- 切面类 -->
     <bean id="mindRader" class="aop.aspect.Mindreader"/>
     <aop:config>
     	<!-- 4.3.3 切面3：arg-names属性将被通知方法的参数传递给通知 -->
     	<aop:aspect ref="mindRader">
     		<aop:pointcut id="thinking" expression="execution(* aop.service.Thinker.thinkOfSomething(String)) and args(thoughts)"/>
     		<aop:before pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts"/>
     	</aop:aspect>
     </aop:config>
   
</beans>